<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071332753914-uafmilgkfftk2kaloevkau8f4cvsmkjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071332753914-uafmilgkfftk2kaloevkau8f4cvsmkjg</string>
	<key>API_KEY</key>
	<string>AIzaSyAVeRRBMRyaQjZKrlrrZ-yY6mv5FPTM4co</string>
	<key>GCM_SENDER_ID</key>
	<string>1071332753914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thewhitehats.sentinelhq</string>
	<key>PROJECT_ID</key>
	<string>sentinelshq</string>
	<key>STORAGE_BUCKET</key>
	<string>sentinelshq.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071332753914:ios:43adbdc06948d2a64b2443</string>
</dict>
</plist>